<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Client</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-javascript-plain colored"></i>
        <li style="font-size: 20px; text-align: left;">JavaScript</li>
        <li style="font-size: 20px; text-align: left;">React</li>
        <li style="font-size: 20px; text-align: left;">HTML</li>
        <li style="font-size: 20px; text-align: left;">Angular</li>
    </div>
    <div class="four columns">
      <h4>Server</h4>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <li style="font-size: 20px; text-align: left;">C++</li>
      <li style="font-size: 20px; text-align: left;">C</li>
      <li style="font-size: 20px; text-align: left;">Java</li>
      <li style="font-size: 20px; text-align: left;">Python</li>
      <li style="font-size: 20px; text-align: left;">Node.js</li>
      <li style="font-size: 20px; text-align: left;">Spring Boot</li>
    </div>
    <div class="four columns">
      <h4>Database</h4>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <li style="font-size: 20px; text-align: left;">MySQL</li>
      <li style="font-size: 20px; text-align: left;">PostgreSQL</li>
      <li style="font-size: 20px; text-align: left;">mongoDB</li>
    </div>
  </div>
</div>
