<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TSqKf0GXSbE" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="six columns">
      <h5> Fantasy Football Draft </h5>
      <li> Technologies: Spring Boot, React, MySQL, Docker</li>
      <p>Allows users to register and sign in. The user then create a draft and invite other users. Users can pick players and post to the draft message board once the draft starts.</p>
      <p><b>How it works: </b>Users get a unique token when they sign in which lasts about an hour. During the draft all the logic is handled by the back end
      to update the draft in real time. Information like the draft timer, who just got drafted and whose turn it is to draft.</p>
      <p>Website is live if you want a demo</p>
      <a class="project-link" target="_blank" href="https://github.com/BrettMarcin/fantasy_football_site">Github Spring Boot Code</a>
      <a class="project-link" target="_blank" href="https://github.com/BrettMarcin/fantasy_football_site_client">Github React Code</a>
      <a class="project-link" target="_blank" href="https://fantasy-football-client-bzs2bh2dca-uc.a.run.app/">Website</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="spring_mvc" style="width=100px;height=100px;" src="{{ "/assets/img/nodejs-logo.png" | prepend: site.baseurl }}" />
      <img alt="profile" style="width=100px;height=100px;" src="{{ "/assets/img/profile.png" | prepend: site.baseurl }}" />
      <img alt="search" style="width=100px;height=100px;" src="{{ "/assets/img/search.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Social Network </h5>
      <ul>
        <li> Featured Skills: Developed a RESTful web application leveraging Node.js, Express.js, Angular 4, PostgreSQL.</li>
      </ul>
      <p>Created a social network that allows users to create a profile, edit their profile picture, post updates, and follow other users.</p>
      <a class="project-link" target="_blank" href="https://github.com/BrettMarcin/node_social_site">Github Code</a>
      <a class="project-link" target="_blank" href="https://college-match-maker.herokuapp.com/">Website</a>
    </div>
  </div>
</div>
