<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="nodejs" src="{{ "/assets/img/spring-logo.png" | prepend: site.baseurl }}" />
      <img alt="theDraft" src="{{ "/assets/img/theDraft.png" | prepend: site.baseurl }}" />
      <img alt="draftHistory" src="{{ "/assets/img/draftHistory.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Fantasy Football Draft Simulator </h5>
      <li> Featured Skills: Developed a RESTful website using Spring MVC, PostgreSQL, and Hibernate.</li>
      <p>Allows multiple users to participate in a fantasy football snake draft. Users can pick players and post to the draft message board.</p>
      <a class="project-link" target="_blank" href="https://github.com/BrettMarcin/fantasyFootball">Github Code</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="spring_mvc" style="width=100px;height=100px;" src="{{ "/assets/img/nodejs-logo.png" | prepend: site.baseurl }}" />
      <img alt="profile" style="width=100px;height=100px;" src="{{ "/assets/img/profile.png" | prepend: site.baseurl }}" />
      <img alt="search" style="width=100px;height=100px;" src="{{ "/assets/img/search.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Social Network </h5>
      <ul>
        <li> Featured Skills: Developed a RESTful web application leveraging Node.js, Express.js, and MongoDB.</li>
      </ul>
      <p>Created a social network that allows users to create a profile, edit their profile picture, post updates, and follow other users.</p>
      <a class="project-link" target="_blank" href="https://github.com/BrettMarcin/node_social_site">Github Code</a>
    </div>
  </div>
</div>
